body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}

.av_tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task, .exam {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
}

.task_title {
    font-weight: 300;
    font-size: 1.2em;
}

.exams {
    display: flex;
    flex-direction: column;
    gap: 10px;
}