{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{current_user.username}}!</h1>

    <h2>Available tasks:</h2>
    {% for task in tasks %}
        <div>
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <a href="{{ url_for('task_view', task_id=task.id) }}">View Task</a>
            <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" onclick="return confirm('Delete this task and all its test cases?')">Delete</button>
        </form>
        </div>
        <hr>
    {% endfor %}
    <a href="{{ url_for('create_task') }}">Create New Task</a>

    <h2>Exams:</h2>
    {% for exam in exams %}
        <div>
            <h3>{{ exam.title }} ({{ exam.type }})</h3>
        </div>
    {% endfor %}
    <a href="{{ url_for('create_exam') }}">Create New Exam</a>
{% endblock %}