{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{current_user.username}}!</h1>

    <h2>Available tasks:</h2>

    <div class="av_tasks">
        {% for task in tasks %}
            <div class="task">
                <div class="task_title">{{ task.title }}</div>
                <div class="task_description">{{ task.description }}</div>
                <a href="{{ url_for('task_view', task_id=task.id) }}">View Task</a>
                <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" onclick="return confirm('Delete this task and all its test cases?')">Delete</button>
            </form>
            </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('create_task') }}">Create New Task</a>

    <h2>Exams:</h2>
    <div class="exams">
        {% for exam in exams %}
            <a href="{{ url_for('exam_view', exam_id=exam.id) }}" class="exam">
                <div>{{ exam.title }}</div>
                <div class="exam_type">{{ exam.type }}</div>
            </a>
        {% endfor %}
    </div>
    <a href="{{ url_for('create_exam') }}">Create New Exam</a>
{% endblock %}